<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Admin Panel</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
    <main>
        <div class="container">
        <h1>Login Successful</h1>
            <div class="row">
                <div class="col-md-8 col-12 gap-3">
                    <div class="main-panel p-5 mx-auto my-3 border rounded">
                        Hello
                    </div>
                </div>
                <div class="col-md-4 col-12 gap-3">
                    <div class="main-panel p-5 mx-auto my-3 border rounded">
                        <div class="logo">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>