<!doctype html>
<html lang="en">
<head>   
    <link rel="icon" href="assets/images/favicon.ico"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/select2.min.css">
    <link rel="stylesheet" href="assets/fonts/icons/iconfont.css">
    <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="assets/css/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Service Search</title>
</head>
<body class="loading">
    <div class="loader"><span></span></div>

    <header class="header innr_header" id="header">
        <div class="head_top">
            <div class="container">
              <div class="row">
                <div class="col">
                  <ul>
                    <li><i class="icon feather icon-headphones mr-2"></i> 24/7 Support : <a href="javascript:void(0)">+91 7771006242</a></li>
                  </ul>
                </div>
                <div class="col-auto">
                    <ul>
                        <li><a href="javascript:void(0)"><i class="icon feather icon-bell"></i></a></li>
                        <li>
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome Testing!</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Dashboard</a>
                                    <a class="dropdown-item" href="#">Vendors</a>
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="head_bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="javascript:void(0)"><img src="assets/images/logo.png" alt="" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" >Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Categories</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ul class="sub_menu">
                                    <li><a href="#">Rental & Hire</a>
                                        <ul>
                                            <li><a href="#">Foreign money exchange</a></li>
                                            <li><a href="#">Medical Stores</a></li>
                                            <li><a href="#">Auto sales and service</a></li>
                                            <li><a href="#">Electronic sales and service</a></li>
                                            <li><a href="#">Pick and drop services</a></li>
                                            <li><a href="#">Wheels And tyres sales and sevices</a></li>
                                            <li><a href="#">Welding works</a></li>
                                            <li><a href="#">Vehicle Signage</a></li>
                                            <li><a href="#">Truck Washing And Heavy Machinery</a></li>
                                            <li><a href="#">Stationery And Business Cards</a></li>
                                            <li><a href="#">Property Maintenance</a></li>
                                            <li><a href="#">Publishers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Artist</a>
                                        <ul>
                                            <li><a href="#">Boutique - Fashions</a></li>
                                            <li><a href="#">Video Editor</a></li>
                                            <li><a href="#">Tattoo artist</a></li>
                                            <li><a href="#">Sculpture Artist</a></li>
                                            <li><a href="#">Magician</a></li>
                                            <li><a href="#">Graphic Artist</a></li>
                                            <li><a href="#">Film Production</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Consultancy</a></li>
                                    <li><a href="#">Businesses and Services</a></li>
                                    <li><a href="#">Party Events & Decor</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Company</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">List your business</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">Contact Us</a>
                        </li>
                      </ul>
                    </div>

                    <div class="search_form pl-3">
                        <span><i class="icon feather icon-search"></i></span>
                        <div class="cat_seaech">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group m-0">
                                                    <input class="form-control" type="text" placeholder="City Pincode">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group m-0">
                                                    <input class="form-control" type="text" placeholder="Service Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><button type="submit" class="th_btn m-0">Search</button></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="overlay"><i class="icon feather icon-x"></i></div>
        </div>
    </header>

    <div class="pt-5 pb-4">
        <div class="container">
            <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1100">
                <div class="col">
                    <h2>Dashboard</h2>
                </div>
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="icon feather icon-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="flt_left" >
                        <div class="left_side">
                            <a href="javascript:void(0);" class="closeasidebar">
                                <i class="icon feather icon-arrow-right"></i>
                            </a>
                            <div class="flt_leftInnr">
                                <div class="admin_info text-center mb-4">
                                    <div class="user_img">
                                        <img src="assets/images/admin.jpg" alt="" />
                                    </div>
                                    <div class="user_name mb-3">
                                        <h4>Testing</h4>
                                    </div>
                                    <div class="tags mb-2">
                                        <a href="#" class="badge badge-primary">Featured</a>
                                        <a href="#" class="badge badge-success">Verified</a>
                                    </div>
                                    <div class="rating">
                                        <i class="icon feather icon-star text-warning"></i>
                                        <i class="icon feather icon-star text-warning"></i>
                                        <i class="icon feather icon-star text-warning"></i>
                                        <i class="icon feather icon-star text-warning"></i>
                                        <i class="icon feather icon-star"></i>
                                    </div>
                                </div>
                                <div class="admin_menus">
                                    <ul>
                                        <li class="active">
                                            <a href="javascript:void(0)"><i class="icon feather icon-box"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="icon feather icon-shopping-cart"></i>Vendors</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="icon feather icon-user"></i>Profile</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="icon feather icon-bell"></i>Notifications</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="icon feather icon-settings"></i>Settings</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="icon feather icon-log-out"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                            <div class="box">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="icon feather icon-mail"></i>
                                    </div>
                                    <div class="col pl-0">
                                        <h3>24 Unread</h3>
                                        <p>New Messages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                            <div class="box">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="icon feather icon-users"></i>
                                    </div>
                                    <div class="col pl-0">
                                        <h3>32,706</h3>
                                        <p>Profile Visits</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                            <div class="box">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="icon feather icon-repeat"></i>
                                    </div>
                                    <div class="col pl-0">
                                        <h3>16 Days left</h3>
                                        <p>Package Expiry</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h3>Job List</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Job Id</th>
                                        <th>Name</th>
                                        <th>Requred Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Sr. No.">1</td>
                                        <td data-title="Job ID">3562</td>
                                        <td data-title="Name"><strong>Accountants</strong><br>09/10/2020 18:25:11</td>
                                        <td data-title="Requred Details">hello , this is testing</td>
                                        <td data-title="Action">
                                            <a href="javascript:void(0);" class="th_btn">Reply/Available Services</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-title="Sr. No.">1</td>
                                        <td data-title="Job ID">3562</td>
                                        <td data-title="Name"><strong>Accountants</strong><br>09/10/2020 18:25:11</td>
                                        <td data-title="Requred Details">hello , this is testing</td>
                                        <td data-title="Action">
                                            <a href="javascript:void(0);" class="th_btn">Reply/Available Services</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-title="Sr. No.">1</td>
                                        <td data-title="Job ID">3562</td>
                                        <td data-title="Name"><strong>Accountants</strong><br>09/10/2020 18:25:11</td>
                                        <td data-title="Requred Details">hello , this is testing</td>
                                        <td data-title="Action">
                                            <a href="javascript:void(0);" class="th_btn">Reply/Available Services</a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stay_connect">
        <div class="container">
            <div class="stay_connect_box" data-aos="fade-up" data-aos-duration="1100">
                <div class="row align-items-center">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <h3>Stay Connected</h3>
                        <p>Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group pl-0 pl-lg-5">
                            <input type="text" class="form-control" name="" placeholder="Enter Your Email...">
                            <button type="button" class="th_btn"><i class="icon feather icon-send"></i></button>
                        </div>  
                    </div>
                </div>   
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5">
                        <div class="ftr_logo mb-4">
                            <a href="javascript:void(0)"><img src="assets/images/logo-white.png" alt="" /></a>
                        </div>
                        <p>Contact support to discuss our product & services</p>
                        <ul class="social_media">
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/facebook.svg" alt=""/></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/pinterest.svg" alt=""/></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/twitter.svg" alt=""/></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/g-plus.svg" alt=""/></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="ftr_link half_link">
                            <h3>Quick Links</h3>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Contact Us</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Company</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Corporate</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Sitemap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Privacy Policy</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Terms & Conditions</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">General Policy</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">FAQ's</a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-5">
                        <div class="ftr_link">
                            <h3>Serving in</h3>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Indore</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Bhopal</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Ujjain</a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">Sagar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5">
                        <div class="ftr_info">
                            <h3>Important</h3>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="icon feather icon-headphones"></i>
                                        24/7 Support: <span>+91 7771006242</span>
                                    </a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="icon feather icon-mail"></i>
                                        Say Hello To Us<span>Click Here to Contact Us</span>
                                    </a>
                                </li> 
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="icon feather icon-map-pin"></i>
                                        Our Active Location<span>Indore (M.P.),India</span>
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <p>Copyrights © 2019. All Rights Reserved by ServiceSearch.</p>
                    </div>
                    <div class="col-md-5 text-right">
                      <img src="assets/images/cards.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </footer> 

    <div class="mbl_bottom">
        <ul>
            <li class="active">
                <a href="javascript:void(0);">
                    <i class="icon feather icon-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon feather icon-calendar"></i>
                    Booking
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon feather icon-info"></i>
                    Get Help
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon feather icon-user"></i>
                    Profile
                </a>
            </li>
        </ul>
    </div>   

    <a href="#header" class="got-id" id="scrollTop"><i class="icon feather icon-arrow-up"></i></a>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/lightbox-plus-jquery.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/owl.carousel2.thumbs.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>